<div id="dropzonImagesDiv" class="dropzone">
    <div class="needsclick dz-clickable">
        <div class="dz-message needsclick">
            Drop files here or click to upload.<br>
        </div>
    </div>
</div>